<?xml version="1.0"?>
<model>
  <name>bb_robot</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>czb</name>
  </author>
  <description>
    bb.SLDASM exported meshes packaged as a Gazebo Sim model. Includes a tracked/skid-steer drive controller.
  </description>
</model>




