<?xml version="1.0"?>
<model>
  <name>simple_tree</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>
  <author>
    <name>czb</name>
    <email>czb@todo.todo</email>
  </author>
  <description>
    Offline-friendly simple tree model: trunk + foliage canopy (no textures).
  </description>
</model>




