<?xml version="1.0"?>
<model>
  <name>tree_trunk</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>
  <author>
    <name>czb</name>
    <email>czb@todo.todo</email>
  </author>
  <description>
    Simple cylindrical tree trunk model for orchard simulation.
  </description>
</model>


