<?xml version="1.0"?>
<model>
  <name>hilly_terrain</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>
  <author>
    <name>czb</name>
    <email>czb@todo.todo</email>
  </author>
  <description>
    Offline-friendly hilly terrain using a small heightmap (PGM).
  </description>
</model>




